.reset_design{
    float: right;
}

.nav_design {
    margin: auto;
    margin-right: 0;
}

.login_center {
    text-align: center;
}

.reset_password_form {
    text-align: center;
    padding: 10px;
}

.paginate_button {
    margin: 2px;
}

div#employeeTable_paginate{
    margin-bottom: 16px;
}