.reset_design{
    float: right;
}

.nav_design {
    margin: auto;
    margin-right: 0;
}

.login_center {
    text-align: center;
}

.reset_password_form {
    text-align: center;
    padding: 10px;
}

.paginate_button {
    margin: 2px 10px;
    cursor: pointer;
}

div#employeeTable_paginate{
    margin-bottom: 16px;
}

div#employeeTable_filter {
    margin: 2px;
}

div#employeeTable_length {
    margin: 2px;
}

/* ========== Excel, Copy, PDF Button CSS ========== */

.copyButton, .pdfButton {
    width: 100px;
    margin: 5px;
}

.overallButton{
    background: none;
    border: 2px solid #07032D;
    text-transform: uppercase;
    padding: 12px 20px;
    min-width: 185px;
    margin: 10px;
    cursor: pointer;
    color: #07032D;
    transition: color 0.4s linear;
    position: relative;
}

.overallButton:hover{
    color: #fff;
}

.overallButton span{
    position: relative;
}

.overallButton::before{
    content: "";
    position: absolute;
    margin-top: -1px;
    top: 0;
    left: 0;
    width: 101%;
    height: 104%;
    background: #07032D;
    transition: transform 0.5s;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(0.5,1.6,0.4,0.7);
}

.excelButton::before{
    transform: scaleX(0);
}

.excelButton:hover::before{
    transform: scaleX(1);
}

.copyButton::before{
    transform: scaleX(0);
}

.copyButton:hover::before{
    transform: scaleX(1);
}

.pdfButton::before{
    transform: scaleX(0);
}

.pdfButton:hover::before{
    transform: scaleX(1);
}


@media only screen and (max-device-width: 480px) {
    /* styles for mobile browsers smaller than 480px; (iPhone) */
    .excelButton, .copyButton, .pdfButton {
        width: 100px;
    }
    .dt-buttons{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
 }

 @media only screen and (min-width: 481px) and (max-width: 991px)  {
    .excelButton, .copyButton, .pdfButton {
        width: 80px;
    }
    
 }

 @media only screen and  (min-width: 992px) and (max-width: 1400px) {
    .overallButton{
        padding: 6px 20px;
        min-width: 126px;
        margin-top: 0;
        margin-bottom: 10px;
        margin-left: 10px;
        margin-right: 10px;
    }
 }

/* ========== Excel, Copy, PDF Button CSS ========== */

/* ========== Add Employee Detail Button CSS ========== */

.add_employee_container_button{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.add_employee_container_button a{
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    border: 2px solid #0f0;
    margin: 40px;
    margin-top: 0px;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: 2px;
    color: black;
    transition: 0.5s;
    transition-delay: 0s;
}

.add_employee_container_button a:hover{
    transition-delay: 1.5s;
    color: #fff;
    box-shadow: 0 0 10px #0f0;
}

.add_employee_container_button a span{
    position: relative;
    z-index: 100;
}

.add_employee_container_button a::before{
    content: '';
    position: absolute;
    left: -20px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 2px;
    background: #0f0;
    box-shadow: 5px -8px 0 #0f0, 5px 8px #0f0;
    transition: width 0.5s, left 0.5s, height 0.5s, box-shadow 0.5s;
    transition-delay: 1s, 0.5s, 0s, 0s;

}

.add_employee_container_button a:hover::before{
    width: 60%;
    height: 100%;
    left: -2px;
    box-shadow: 5px 0 0 #0f0, 5px 0 0  #0f0;
    transition-delay: 0s, 0.5s, 1s, 1s;
}

.add_employee_container_button a::after{
    content: '';
    position: absolute;
    right: -20px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 2px;
    background: #0f0;
    box-shadow: -5px -8px 0 #0f0, -5px 8px #0f0;
    transition: width 0.5s, left 0.5s, height 0.5s, box-shadow 0.5s;
    transition-delay: 1s, 0.5s, 0s, 0s;

}

.add_employee_container_button a:hover::after{
    width: 60%;
    height: 100%;
    right: -2px;
    box-shadow: -5px 0 0 #0f0, -5px 0 0  #0f0;
    transition-delay: 0s, 0.5s, 1s, 1s;
}

@media only screen and (max-device-width: 480px) {
    .add_employee_container_button a{
        padding: 13px 10px;
        margin: 0px;
    }
}
/* ========== Add Employee Detail Button CSS ========== */

/* ========== TOGGLER ICON ========== */
.navbar-toggler {
    position: relative;
    width: 50px;
    height: 50px;
    background: #fff;
    box-shadow: 0 10px 20px rgba(0,0,0,0.08);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
}

.navbar-toggler span{
    position: absolute;
    width: 26px;
    height: 3px;
    background: #07302D;
    border-radius: 4px;
    transition: 0.5s;
}

.navbar-toggler span:nth-child(1){
    transform: translateY(-15px);
    width: 15px;
    left: 11px;
    bottom: 17px
}

.navbar-toggler.active span:nth-child(1){
    width: 26px;
    transform: translateY(0px) rotate(45deg);
    bottom: 22px;
}

.navbar-toggler span:nth-child(2){
    transform: translateY(15px);
    width: 9px;
    left: 11px;
    top: 18px
}

.navbar-toggler.active span:nth-child(2){
    width: 26px;
    transform: translateY(0px) rotate(315deg);
    top: 23px;
}


.navbar-toggler.active span:nth-child(3){
    transform:translateX(60px);
}
/* ========== TOGGLER ICON ========== */

/* ========== PAGINATION BUTTON ========== */

/* ========== PAGINATION BUTTON ========== */